*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    color: rgb(63, 61, 61);
    font-family: 'Lato', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px; /*ESTO SEPARA ENTRE CADA CASILLA*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,auto);

    grid-template-areas: "cabecera cabecera cabecera"
    "presentacion presentacion presentacion"
    "contenido contenido barra"
    "pie pie pie";
}

.contenedor > div,
.contenedor .cabecera,
.contenedor .contenido,
.contenedor .barra,
.contenedor .pie{
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .cabecera{
    background: rgb(99, 20, 0);
    color: white;
    grid-area:  cabecera;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 14px;
    margin: 10px 10px;
    text-transform: uppercase;
    border-right: solid .1rem rgba(212, 64, 108, 0.41);
}

.nav-menu-link{
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    transition: 0.5s;
}
